:root {
    --background-colour: #13A867;
    --accent-colour: #F2A71B;
    --light-version: #E8FFF2;
}

.background_hero {
    background: var(--background-colour);
    padding: 30px 60px;
    padding-bottom: 0;
}

.btn {
    color: white;
    background: var(--accent-colour);
    cursor: pointer;
}

.btn:hover {
    background: none;
    border: 1px solid var(--accent-colour);
}


@media (min-width: 1400px) {
    .background_hero {
        background: url("/img/single-game-bg-header.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
    }
}
